# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Rope project settings
.ropeproject

# editor, os cache directory
.vscode/
.idea/
__MACOSX/
